@model List<StutorDataObjects.StudentAppointments>

@{
    ViewBag.Title = "Tutoring Appointments";
}

<h2>Students you are currently tutoring: </h2>

<p>
    
</p>

@if (Model == null || Model.Count == 0)
{
    <h2>You are currently not tutoring any students :( </h2>
}
else
{
    <table class="table">
        <tr>
            <th>
                Day
            </th>
            <th>
                Time
            </th>
            <th>
                Subject's Name
            </th>
            <th>
                Student's First Name
            </th>
            <th>
                Student's Last Name
            </th>
            <th>
                Status
            </th>
            <th>
                Tutoring Request ID
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentFirstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentLastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TutoringRequestID)
                </td>
                <td>
                    @Html.ActionLink("Approve / Deny", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Drop", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

}
