@model StutorDataObjects.TutorAppointments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Selected Tutor Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TutorFirstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TutorFirstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TutorLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TutorLastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TutoringRequestID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TutoringRequestID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
